@page
@using SailClubLibrary.Models
@model RazorBoatApp2026.Pages.Bookings.ChooseBoatModel
<h1>Choose a boat</h1>
<h2>You can choose between: @Model.Boats.Count boats</h2>
<h3>The date today is @DateTime.Now.</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>BoatType</th>
            <th>Model</th>
            <th>SailNumber</th>
            <th>YearOfConstruction</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Boat b in Model.Boats)
        {
            <tr>
                <td>@b.Id</td>
                <td>@b.TheBoatType</td>
                <td>@b.Model</td>
                <td>@b.SailNumber</td>
                <td>@b.YearOfConstruction</td>
                <td>
                    <a asp-page="CreateBooking" asp-route-sailNumber="@b.SailNumber">Book</a>
                </td>
            </tr>
        }
    </tbody>
</table>
