@page
@using SailClubLibrary.Models
@model RazorBoatApp2026.Pages.Bookings.ChooseBoatModel
@{
    <h1>Choose a boat</h1>
    <h2>You can choose between: @Model.Boats.Count boats</h2>
    <h3>The date today is @DateTime.Now.</h3>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <form method="get">
                <th>BoatType</th>
                <th>Model</th>
                <th>SailNumber</th>
                <th>YearOfConstruction</th>
                </form>

            </tr>
        </thead>
        <tbody>
            @foreach (Boat item in Model.Boats)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.TheBoatType</td>
                    <td>@item.Model</td>
                    <td>@item.SailNumber</td>
                    <td>@item.YearOfConstruction</td>
                    <td>
                        <a asp-page="CreateBooking" asp-route-sailNumber="@item.SailNumber">Book</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
